<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.rules.studio.decisionservice.launching.DecisionOperation">
<stringAttribute key="com.ibm.rules.studio.decisionservice.ui.OPERATION_PATH" value="/sample_runtime_selection_withspaceinpackage/deployment/test_operation"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_SIGN"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_VALUES"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_NAMES"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_SIMPLE_VALUES"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_TYPES"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sample_runtime_selection_withspaceinpackage"/>
<listEntry value="/sample_runtime_selection_withspaceinpackage"/>
<listEntry value="/sample_runtime_selection_withspaceinpackage/deployment/test_operation.dop"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sample_runtime_selection_withspaceinpackage"/>
</launchConfiguration>
